.App{
  display: flex;
  flex-direction: column;
  height: 100dvh;
  padding: 0;
}

nav{
  display: flex;
  flex-direction: row; 
  justify-content: center;
  align-items: center;
  height: 3rem;
  color: var(--white);
}

#primary-color{
  height: 20rem;
  width: 2rem;
}

#canvas-component{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: var(--light-grey);
}

#canvas-area{
  display: flex;
  flex-direction: column;
  height: auto;
  width: auto;
  background-color: var(--white);
  gap: 0; /* No gap between the pixels */

}

.pixel-row{
  height: 100%;
  width: 100%;
  display: flex;
}

.pixel{
  height: 6pt;
  width: 6pt;
  border: thin solid var(--black);
}